/* ---- GENERALLY USED CSS ---- */

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  width: auto !important;
  overflow-x: hidden !important;
}

header {
  width: 100vw;
  height: 50px;
  background-color: antiquewhite;
  align-items: center;
  height: 80px;
  padding-bottom: 20px;
  /* margin-top: auto; */
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  position: static;
  font-size: 1.5em;
}

main {
  width: 80vw;
  margin: 10px auto;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

}

.main-content article #myname {
  color: rgb(17, 153, 108);
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;  
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

header a {
  color: black;
  text-decoration: none;
}

nav h1{
  /* font-size: 25px; */
  font-weight: bolder;
}

.nav-links a
{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.75em;
}

.nav-links a:hover{
  color: white;
  background-color: black;
}

footer {
  width: 100vw;
  height: 50px;
  background-color: antiquewhite;
  align-items: center;
  height: 80px;
  /* padding: 10px; */
  display: grid;
  position: static;
  justify-content: center;
}

footer img{
  height: 45px;
  justify-self: center;
}

ul{
  list-style: circle;
  margin: 10px;
}

/* @media (max-width:415px){
  header{
    font-size: 1.35em;
  }
  nav{
    display: grid;
    /* grid-template-columns: 100%; *
    grid-template-rows: 1fr 4fr;
    place-content: center;
  }
  .title{
    text-align: center;
  }

  .nav-links a{
    text-align: center;
    display: grid;
    font-size: 0.75em;
    grid-template-rows: repeat(4 x 1fr);
    padding: 2px;

  }
} */

/* @media (571px <= width <=823px) {
  header{
    font-size: 1.35em;
  }
  nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    place-content: center;
  }
  .title{
    padding: 20px;
    text-align: center;
    grid-column: 4 span
    font-size: 1.5em;
  }
  .nav-links a{
    /* justify-content: space-between;
    width: 100%;
    text-align: center;
    text-align: center;
    display: grid;
    font-size: 0.75em;
    grid-template-rows: repeat(4 x 1fr);
    padding-top: 2px;
    padding-bottom: 2px;
  }

  nav .nav-links{
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    font-size: 1.25em;
  }
  
} */

/* @media (max-width:571px){
  header{
    font-size: 1.35em;
    width: 100vw
    width: 95vw;
  }
  .title{
    padding: 20px;
    text-align: center;
    grid-column: 4 span
    font-size: 1em;
  }
  nav{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4 x 1fr);
    place-content: center;
  }

  .nav-links a{
    ustify-content: space-between;
    width: 100%;
    text-align: center; 
    text-align: center;
    display: grid;
    font-size: 0.75em;
    grid-template-rows: repeat(4 x 1fr);
    padding-top: 2px;
    padding-bottom: 2px;
  }

  main{
    width: 95vw;
  }
  footer {
    width: 100vw;
  }

} */
  



/* ==== */
/* ---- LANDING PAGE ONLY ---- */
/* ==== */

.main-content{
  font-size: 30px;
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-content h2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.main-content p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 0.75em;
}

.index-main {
  width: 80vw;
  margin: 10px auto;
  position: relative;
  display: flex;
  padding-top: 10px;
  padding-battom: 10px;
}

main article{
  width: 50vw;
  float: inline-start;
}
main img {
  width: 25vw;
  right: 0;
}

/* @media (max-width:823px){
  main{
    display: flex;
    flex-direction: row;
    width: 95vw !important;
    align-items: center;
    justify-content: space-between;
  }

  main article{
    width: 50vw;
    font-size: 0.75em;
    
  }
}

.index-main .profile-picture img{
  height: 35vh;
  width: auto;

} */

/* @media (max-width: 590px){
  main{
    display: flex;
    flex-direction: column-reverse;
    width: 95vw !important;
    align-items: center;
  }

  main .main-content {
    width: 95vw;
  }

  main article{
    width: 95vw;
    font-size: 0.65em;
    
  }

.index-main .profile-picture img{
  height: 35vh;
  width: auto;
  }
} */

/* @media (max-width:426px){
  main{
    display: flex;
    flex-direction: column-reverse;
    width: 95vw !important;
    align-items: center;
  }

  main .main-content {
    width: 95vw;
  }

  main article{
    width: 95vw;
    font-size: 0.65em;
    
  }

.index-main .profile-picture img{
  height: 35vh;
  width: auto;
  }
} */

/* ==== */
/* ==== ABOUT ME PAGE ONLY V2 ==== */
/* ==== */

.outer-title{
  text-align: center;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  border-bottom: solid;
  background-color: aquamarine;
}

.inner-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border: solid;
  position: relative;
  margin-bottom: 20px;
}

.inner-section h3{
  text-align: center;
  background-color: cornsilk;
  font-size: 20px;
}

.inner-image{
  display: grid;
  
}
.inner-content{
  display: grid;
  
}

#article-right{
  float: inline-start;
}

.inner-image img{
  width: 25vw;
  right: 0;
  position: relative;
  justify-self:end;
}

.inner-title{
  margin-bottom: 20px;
}

.inner-title p{
  margin-bottom:10px;
}

/* ---- PORTFOLIO PAGE ONLY ---- */

.test-border{
  border: solid;
  display: flex;
}

.test-content{
  font-size: 50px;
  float: inline-start;
  width: 50vw;
}

.test-image{
  float: inline-end;
  top: 0;
}

/* CONTACT ME PAGE ONLY */

form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* form{
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
} */
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px;
  box-sizing: content-box;
  width: 100%;
}

form .country{
  /* grid-column-start: span 2; */

}
form .message{
  grid-column-start: span 3;
  align-items: center;
}
form .contactchoice{
  grid-column-start: span 3;
}
form button{
  grid-column-start: span 3;
  width: 25%;
  justify-self: center;
}
.form label, form legend {
  padding: 3px;
}

.radiolabel {
  display: flex;
  flex-direction: column;
}

.radiolabel div {
  padding: 3px;
}

button:hover{
  background-color: black;
  color: whitesmoke;
}
/* @media (max-width:823px){
  .form-main{
    align-items: ;

  }

  form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    box-sizing: content-box;
    width: 100%;
  }
  .form label, form legend {
    padding: 3px;
  }

  .radiolabel {
    display: flex;
    flex-direction: column;
  }

  .radiolabel div {
    padding: 3px;
  }

  button:hover{
    background-color: black;
    color: whitesmoke;
  }
  
} */

/* @media (max-width:426px){

  form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
    box-sizing: content-box;
    width: 100%;
  }
  .form label, form legend {
    padding: 3px;
  }

  .radiolabel {
    display: flex;
    flex-direction: column;
  }

  .radiolabel div {
    padding: 3px;
  }

  button:hover{
    background-color: black;
    color: whitesmoke;
  }
  
} */


