/* 
  Mobile screen width styling sheet.
    max-width: 571px
*/

/* ---- GENERALLY USED CSS ---- */

@media (max-width:571px){
  header{
    font-size: 1.35em;
    width: 100vw
    /* width: 95vw; */
  }
  .title{
    /* padding: 20px; */
    text-align: center;
    /* grid-column: 4 span */
    font-size: 1em;
  }
  nav{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4 x 1fr);
    place-content: center;
  }

  .nav-links a{
    /* justify-content: space-between;
    width: 100%;
    text-align: center; */
    text-align: center;
    display: grid;
    font-size: 0.75em;
    grid-template-rows: repeat(4 x 1fr);
    padding-top: 2px;
    padding-bottom: 2px;
  }

  main{
    width: 95vw;
  }
  footer {
    width: 100vw;
  }

}